html, #root {
  margin: 0 !important;
  padding: 0 !important;
  background: #f5f7fa;
  box-sizing: border-box;
}

body {
  margin-top: 80px;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full height of viewport */
}

/* Your main content area */
.app-content {
  flex: 1; /* takes up all available space */
  padding: 16px;
}

